<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="ru.timacad.platform.ScheduleGlanceWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>
        <receiver
            android:name="ru.timacad.platform.HighPriorityHintReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.timacad.platform.HIGH_PRIORITY_HINT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
